<header role="banner" aria-label="header">
  <nav role="navigation" aria-label="navigation" class="nav">
    <ul id="nav_inner" class="nav__items">
      <li class="nav__item">
        <a href="#" class="nav__item__link">Item1</a>
        <ul class="nav__item__drop">
          <li>
            <a href="#" class="nav__item__link">SubItem 1</a>
          </li>
          <li>
            <a href="#" class="nav__item__link">SubItem 2</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__item__link">Item2</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__item__link">Item3</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__item__link">Item4</a>
        <ul class="nav__item__drop">
          <li>
            <a href="#" class="nav__item__link">SubItem 1</a>
          </li>
          <li>
            <a href="#" class="nav__item__link">SubItem 2</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<p>AppComponent</p>
<p>Timer:</p>
<hr />

<child-counter></child-counter>

<div class="box">Ping Pong</div>
